<div class='basic-grey'>
    <h1>Seja bem vindo!</h1>
        <ul>
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>  <%= link_to "Tipos", kinds_path %><br><br>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  <%= link_to "Contatos", contacts_path %><br><br>
    </ul>
</div>